/* Firefox 12 Fix */
html {
    overflow-x: scroll !important;
}

fieldset {
	
	border-color: #87A019;  
	background-color: #FFFFFF;	
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
	border-style: solid;
    border-width: 1px;
	margin-top: 10px;

}

legend {
	color: rgb(0, 114, 55);
	font-size: 13px;
	font-weight: bolder;
}

/* trata do estilo da fonte do MENU PRINCIPAL, label dos forms */
span {  
	color:rgb(0, 114, 55);
	font-size: 10px; 
	font-weight: bold;
}

legend.fundoVerd {
	color: #FFFFFF;
	font-weight: bolder;
}

span.fundoVerde {
	color:#FFFFFF;
	font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(0, 114, 55);
}

.login
{
    /*border-color: #DA251D;*/
	border-color: #AAAAA;    
    border-style: solid;
    border-width: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 30px;
    width: 130px;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


.borda
{
    border-style: dotted;
    border-width: 1px;
    border-color: #87A019;
    color: #6699FF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 1px;
}



.campo
{
    border-color: #AAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
    width: 300px;
}

.campo_data
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
}

.input_hide {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #0000FF;
	size: 1px;
    width:35px;
    border:2px none #000099;
    text-align:right;
    background:#FFFFFF;
    text-transform:uppercase;
    text-align:center;
}

.cabecalho{
	background-color: #87A019;
	color:white; 
}

.campo_ano
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
    width: 100px;
}

.campo_ano2
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
    width: 40px;
    text-align:center;
}

.campo_semestre
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
    width: 20px;
    text-align:center;
}
.sigla
{
    border-color: #87A019;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
    width: 50px;
}


.desc
{
    border-color: #87A019;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
    width: 425px;
}

.descRegistroMateria
{
    border-color: #AAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;    
}

.buttonRel
{
    border:1px solid #AAAAAA;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    background-color: #F5F5F5;
    height: 30px;
    color:#666666;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


.list{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: "Courier New", Courier, mono;/* Verdana;*/
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 130px;
    width: 480px;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.list2{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: "Courier New", Courier, mono;/* Verdana;*/
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 130px;
    width: 768px;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.select
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, Verdana,"Courier New", Courier, mono;/* Verdana;*/
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    font-size:12px;
    height: 20px;
}

select.enquadramento {

	color:#666666;
	font-size: 12px;
	margin-left: 20px;
	width: 350px;


}

 
.link_used
{
    font-weight: normal;
    text-decoration: underline;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(0, 114, 55);
}

.cssTopo
{
	position: relative;
}

.cssTopoLogo
{
	position: absolute;
	top: 15px;
	left: 125px;
}

.divLogin
{
	position: relative;
	width: 350px;
	height: 150px;
	color: #666666;
   
}

.divLoginForm
{
	position: absolute;
	top: 10px;
	left: 80px;
	width: 240px;
}

div.fundoVerde
{
	border: solid 1px #AAAAAA;
	background-color: #87A019;
	height:20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
}

.alteraDataCampos
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
}

.listImport {
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: "Courier New", Courier, mono;/*Verdana;*/
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 260px;
    width: 220px;
}

.descRegistroMateriaImport
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 80px;
    width: 220px;
}
.rga
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
    width: 120px;
}
.tableForm
{
    border: solid;
    border-color:#EFEFEF;
    background-color:#EFEFEF;
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: lighter;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
/* tableForm2 e tableForm3 são usados nas tabelas do relatorio de cordenador para dar aspectos de uma unica tabela*/
.tableForm2
{
    border: solid;
    border-bottom:none;
    border-top:none;
    border-color:#EFEFEF;
    background-color:#FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: lighter;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.tableForm3
{
    border: solid;
    border-top:none;
    border-color:#EFEFEF;
    background-color:#FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: lighter;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.fieldForm
{
    border: solid;
    border-color:#AAAAAA;
    background-color:#FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.textDisplay
{
	border: none;
	background-color: #E7F0D8;
	color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight: bold;
}

.textDisplay2
{
	border: none;
	background-color: #E7F0D8;
	color: #777777;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight: bold;
}
.campo_dia
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
    width: 20px;
    text-align:center;
}
.select_mes
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font-family: "Courier New", Courier, mono;/* Verdana;*/
    font-size: 11px;
    color: #666666;
    background-color: #FFFFFF;
    height: 20px;
}

.loginBotao
{
    border-style: solid;
    border-width: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: #F5F5F5;
    height: 30px;
    border-color: #AAAAAA;
    color: #666666;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.botao
{
    font-size: 10px;
    height: 20px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 10px;
    color: #666666;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #AAAAAA;
    border-right-color: #AAAAAA;
    border-bottom-color: #AAAAAA;
    border-left-color: #AAAAAA;
    background-color: #F5F5F5;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


.botaoNotas
{
    font-size: 10px;
    height: 20px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 10px;
	width:230px; 
	height:25px;
	margin-top:5px;
    color: #666666;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #AAAAAA;
    border-right-color: #AAAAAA;
    border-bottom-color: #AAAAAA;
    border-left-color: #AAAAAA;
    background-color: #F5F5F5;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


.botaoM
{
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    background-color: #F5F5F5;
    height: 20px;
    width: 60px;
    border-color: #AAAAAA;
    color: #666666;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.botaoMDisabled
{
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    background-color: #dfdfdf;
    height: 20px;
    width: 60px;
    border-color: #305287;
    color: #ffffff;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.botaoG
{
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    background-color: #F5F5F5;
    height: 20px;
    width: 150px;
    border-color: #AAAAAA;
    color: #666666;
    text-align:center;
    cursor:pointer;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;

}

.botaoLO
{
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    background-color: #F5F5F5;
    height: 20px;
    width: 62px;
    border-color: #AAAAAA;
    color: #666666;
    text-align:center;
    cursor:pointer;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.botaoLODisabled
{
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    background-color: #dfdfdf;
    height: 20px;
    width: 62px;
    border-color: #F5F5F5;
    color: #666666;
    text-align:center;
    cursor:pointer;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.botaoRE
{
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    background-color: #F5F5F5;
    height: 20px;
    width: 27px;
	margin: 0 3px;
    border-color: #AAAAAA;
    color: #666666;
    text-align:center;
    cursor:pointer;
}

.botaoREDisabled
{
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    background-color: #dfdfdf;
    height: 20px;
    width: 30px;
    border-color: #305287;
    color: #666666;
    text-align:center;
    cursor:pointer;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


/**
 * @project Siscad
 * @author Luiz Sergio Velasques Urquiza Junior
 * @email lsvu@nin.ufms.com
 * @copyright 2008
	Usado na tela listExport.php da seção de Sistema de Avaliações
 */
.caixa
{
	padding: 4px; 
	border: 1px solid #EFEFEF;
	width: auto;
	margin: 4px 0 4px 0;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
 
/**
 * @project Siscad
 * @author Luiz Sergio Velasques Urquiza Junior
 * @email lsvu@nin.ufms.com
 * @copyright 2008
	Usado na tela listExport.prepare.php da seção de Sistema de Avaliações
 */
.caixaAzul
{
	padding: 1px 4px 1px 4px; 
	margin: 4px auto 4px auto; 
	background-color: #E7F0D8; 
	border: 1px solid #EFEFEF;
	/*font-weight: bold;*/
	width: 99%;
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
	color: rgb(0, 114, 55);
}

/**
 * @project Siscad
 * @author Luiz Sergio Velasques Urquiza Junior
 * @email lsvu@nin.ufms.com
 * @copyright 2008
	Usado na tela listExport.prepare.php da seção de Sistema de Avaliações
 */
.caixaBranca
{
	padding: 1px 4px 1px 4px; 
	margin: 4px auto 4px auto; 
	background-color: #ffffff; 
	border: 1px solid #AAAAAA;
	font-weight: bold;
	width: 99%;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.listaAzul
{
	padding: 1px 4px 1px 4px; 
	margin: 0 auto 1px auto; 
	background-color: #E7F0D8; 
	border: 0px solid #87A019;	
	border-bottom: 2px solid #EFEFEF;
	border-right: 2px solid #EFEFEF;
	border-top: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
	width: 98%;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.listaBranca
{
	padding: 1px 4px 1px 4px; 
	margin: 0 auto 1px auto; 
	background-color: #ffffff; 
	border: 0px solid #87A019;	
	border-bottom: 2px solid #EFEFEF;
	border-right: 2px solid #EFEFEF;
	border-top: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
	width: 98%;
}

.linhaAzul
{
	padding: 2px 4px 1px 4px; 
	margin: 0 auto 1px auto; 
	background-color: #E7F0D8; 
	border: 0px solid #87A019;	
	width: 98%;
	
}

.linhaBranca
{
	padding: 2px 4px 1px 4px; 
	margin: 0 auto 1px auto; 
	background-color: #ffffff; 
	border: 0px solid #87A019;	
	width: 98%;
}

/**
 * @project Siscad
 * @author Luiz Sergio Velasques Urquiza Junior
 * @email lsvu@nin.ufms.com
 * @copyright 2008
	Usado nas telas LIST do SISCAD
 */
.title
{
	margin: 8px auto 0 auto;
}

.titleLine
{
	font-weight: bold; 
	border-bottom-color: #E7F0D8; 
	border-bottom-style: solid; 
	border-bottom-width: 1px;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.search
{
	margin: 4px auto 0 auto; 
	background-color: #E7F0D8;
}

.blueBox
{
	padding: 1px 4px 1px 4px; 
	margin: 4px auto 4px auto; 
	background-color: #E7F0D8; 
	border: 1px solid #EFEFEF;
	font-weight: bold;
	width: 98%;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.whiteBox
{
	padding: 1px 4px 1px 4px; 
	margin: 4px auto 4px auto; 
	background-color: #FFFFFF; 
	border: 1px solid #EFEFEF;
	font-weight: bold;
	width: 98%;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.groupHeader
{
	margin: 24px auto 0 auto; 
	font-size: 14px; 
	font-weight: bold; 
	text-align: left; 
	padding: 6px; 
	color: #666666; 
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.blueLine
{
	padding: 4px; 
	background-color: #87A019;
	color: #FFFFFF;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
	
}

.listHeader
{
	padding: 4px; 
	margin: 4px auto auto auto; 
	color: #666666;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	background-color: #E7F0D8;
	border-left: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	width: 99%;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

#list
{
	padding: 1px 1px 1px 4px; 
	margin: 0 auto 1px auto; 
	background-color: #FFFFFF; 
	border-left: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	width: 99%;
	text-align: left;
	
}

#divLoad
{
        margin-left: 11px;
        margin-top: 100px;
        position: absolute;
        background-color: white;
        z-index: 5;
        float: left;
        height: 2048px;
}

.welcome {
    background:none repeat scroll 0 0 #EEE;
    font-size: small;
    line-height:150%;
    margin:1em;
   /* overflow:auto;
    position:relative;*/
    text-align: left;
    color: black;
    width: 60%;
    max-width: 800px;
    white-space: normal;
    text-align: justify;
    padding: 20px;
}

.welcome p {
	margin-top: 1em;
	text-indent: 15px;	
}

.welcome a {
	font-size: small;
	font-weight: bold;
}


.welcome img#reportarerro {
	width:41px;
	height:40px;
	background-image:url("../image/logo_left.png");
	background-position: -191px -28px;
	vertical-align: top;
}

.welcome img#reportarerro2 {
	width:33px;
	height:33px;
	background-image:url("../image/logo_left.png");
	background-position: -195px -31px;
	vertical-align: top;
}


/* description list INICIO */
/* usado na exibição de estrutura curricular p/ acadêmico */
dl {
}

dd {
	display: inline;
	margin-right: 20px;
	margin-left: 5px;
}

dt {
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight:bold;
	display: inline;
}

div.infoGroup {
	padding: 1px;
    margin: 1px;
    font-weight: normal;
	text-align: left;
	color: #666666;
	
}

.alertMessage {
	padding: 10px; 
	margin: 10px auto auto auto; 
	color: #666666;
	font-weight: bolder;
	font-size: 11px;
	text-align: left;
	background-color: #FAFAE9;
	border: 1px solid #FCD530;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
	width: 50%;
	float: center;

}

.errorMessage {
	
	padding: 10px; 
	margin: 10px auto auto auto; 
	color: #666666;
	font-weight: bolder;
	font-size: 11px;
	text-align: left;
	background-color: #FAE9E9;
	border: 1px solid #BA7373;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
	width: 50%;
	float: center;
	
}


.infoMessage {

	padding: 10px; 
	margin: 10px auto auto auto; 
	color: #666666;
	font-weight: bolder;
	font-size: 11px;
	text-align: left;
	background-color: #E7EFFB;
	border: 1px solid #718DB7;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
	width: 50%;
	float: center;


}

.okMessage {

	padding: 10px; 
	margin: 10px auto auto auto; 
	color: #666666;
	font-weight: bolder;
	font-size: 11px;
	text-align: left;
	background-color: #E9FAEB;
	border: 1px solid #59C766;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
	width: 50%;
	float: center;


}

.editavel {

	
	color: #87A019;
	font-weight: bolder;
	font-size: 10px;

}

.alerta {

	
	color: #FCD530;
	font-weight: bolder;
	font-size: 10px;

}

.pendencias {

	
	color: #BA7373;
	font-weight: bolder;
	font-size: 10px;

}

.bloqueado {

	
	color: #CF3838;
	font-weight: bolder;
	font-size: 10px;

}

.gridFieldSet {

	border: solid 1px  #AAAAAA; 
	background-color: #E7F0D8;
	height:40px;
	/*padding-top: 10px";*/

}

.gridTitulo {

	
	background-color: #E7F0D8;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	height:30px;
	font-weight: bolder;
	font-size: 11px;
	text-align: left;
	padding: 10px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	text-align: center;
	color: rgb(0, 114, 55);

}

.gridLinhas{

	padding: 1px 1px 1px 20px;   
	background-color: #FFFFFF; 
	border: 1px solid #E7F0D8;
	border-bottom: 1px solid #E7F0D8;
	border-right: 1px solid #E7F0D8;
	text-align: left;
	height: 20px; 
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	

}

table {     
	border-collapse:collapse;
}	

/* description list FIM */